{% extends 'usuarios/base_dashboard_paciente.html' %}

{% block title %}Dashboard - Paciente{% endblock %}

{% block content %}
    <div class="container-fluid text-center" style="height: 100vh; display: flex; flex-direction: column; justify-content: center;">
        <!-- Título principal grande -->
        <h1 class="display-1 font-weight-bold text-primary mb-4" style="font-size: 4rem; letter-spacing: 2px;">
            ¡Bienvenido al Dashboard de Paciente!
        </h1>
        <!-- Subtítulo llamativo -->
        <p class="lead" style="font-size: 1.75rem; color: #6c757d;">
            Gestiona tus citas médicas de manera fácil y rápida.
        </p>

        <!-- Botón para registrar una nueva cita -->
        <div class="mt-5">
            <a href="{% url 'registrar_cita' %}" class="btn btn-success btn-lg px-5 py-3" style="font-size: 1.5rem; text-transform: uppercase; border-radius: 50px;">
                <i class="fas fa-calendar-plus"></i> Registrar Nueva Cita
            </a>
        </div>
    </div>
{% endblock %}
