<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Usuario</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Detalles de {{ usuario.username }}</h1>
        <table class="table table-bordered">
            <tr>
                <th>Nombre de usuario</th>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <th>Tipo de usuario</th>
                <td>{{ usuario.get_tipo_usuario_display }}</td>
            </tr>
            <tr>
                <th>Correo electrónico</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Fecha de creación</th>
                <td>{{ usuario.date_joined }}</td>
            </tr>
        </table>
        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary mt-3">Volver</a>
        <a href="{% url 'dashboard_administrador' %}" class="btn btn-secondary">Volver al Dashboard</a>
    </div>
</body>
</html>
